<h1>Heroes</h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-12 text-right">
        <button class="btn btn-outline-primary" type="button" [routerLink]="['/heroe','nuevo']">Nuevo Héroe</button>
    </div>
</div>
<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th class="text-right">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{heroes[k].nombre}}</td>
                        <td>{{heroes[k].casa}}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-outline-success" [routerLink]="['/heroe',k]">Editar</button>
                            <button type="button" class="btn btn-outline-danger" (click)="borrarHeroe(k)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay</strong> más registros
            </div>

            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Cargando...</strong> por favor espere
            </div>
        </div>
    </div>
</div>